/* Enter your custom styles here */
span#__text42-inner {
	font-weight: bold;
	font-zise: 14px;
}

span#__text43-inner {
	font-weight: bold;
	font-zise: 14px;
}

span#__text44-inner {
	font-weight: bold;
	font-zise: 14px;
}

span#__text45-inner {
	font-weight: bold;
	font-zise: 14px;
}

span#__text46-inner {
	font-weight: bold;
	font-zise: 14px;
}

span#__status0-title {
	color: black;
	font-size: 18px;
}

span#__status1-title {
	color: black;
	}

span#__status2-title {
	color: black;
	}

span#__status3-title {
	color: black;
   }

span#__status4-title {
	color: black;
}

span#__status5-title {
	color: black;
	font-size: 18px;
}

span#__status6-title {
	color: black;
}

span#__status7-title {
	color: black;
}

span#__status8-title {
	color: black;
	font-size: 18px;
}

span#__status9-title {
	color: black;
}

span#__status10-title {
	color: black;
}

span#__status11-title {
	color: black;
}

span#__status12-title {
	color: black;
}

span#__status13-title {
	color: black;
}

span#__status14-title {
	font-size: 18px;
	color: black;
}

span#__status15-title {
	color: black;
}

span#__status16-title {
	color: black;
}

span#__status17-title {
	color: black;
}

span#__status18-title {
	color: black;
}

span#__status19-title {
	color: black;
}

span#__status20-title {
	font-size: 18px;
	color: black;
}

span#__status21-title {
	color: black;
}

span#__status22-title {
	color: black;
}

span#__status23-title {
	color: black;
}

span#__status24-title {
	color: black;
}

span#__status25-title {
	font-size:18px;
	color: black;
}

span#__status26-title {
	color: black;
}

span#__status27-title {
	color: black;
}


span#__status1-text {
	font-weight: bold;
	}

span#__status2-text {
font-weight: bold;
	}

span#__status3-text {
	font-weight: bold;
   }

span#__status4-text {
	font-weight: bold;
}

span#__status6-text {
font-weight: bold;
}

span#__status7-text {
font-weight: bold;
}

span#__status9-text {
font-weight: bold;
}

span#__status10-text {
font-weight: bold;
}

span#__status11-text {
	font-weight: bold;
}

span#__status12-text {
	font-weight: bold;
}

span#__status13-text {
font-weight: bold;
}

span#__status15-text {
	font-weight: bold;
}

span#__status16-text {
font-weight: bold;
}

span#__status17-text {
font-weight: bold;
}

span#__status18-text {
font-weight: bold;
}

span#__status19-text {
font-weight: bold;
}

span#__status21-text {
font-weight: bold;
}

span#__status22-text {
font-weight: bold;
}

span#__status23-text {
font-weight: bold;
}

span#__status24-text {
font-weight: bold;
}

span#__status26-text {
font-weight: bold;
}

span#__status27-text {
font-weight: bold;
}

span#__text47 {
font-weight: bold;
}

span#__text48 {
font-weight: bold;
}

span#__text49 {
font-weight: bold;
}

span#__text50 {
font-weight: bold;
}

span#__text51 {
font-weight: bold;
}

span#__text52 {
font-weight: bold;
}

span#__text58 {
font-weight: bold;
}

span#__text59 {
font-weight: bold;
}

span#__text60 {
font-weight: bold;
}

span#__text61 {
font-weight: bold;
}

span#__text62 {
font-weight: bold;
}

span#__text63 {
font-weight: bold;
}

span#__text64 {
font-weight: bold;
}

span#__text65 {
font-weight: bold;
}